.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  color: aliceblue;
}

.pokemon-name {
  width: 100%;
  text-align: center;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.pokemon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.pokemon-image img {
  border-radius: 10px;
  max-width: 80%;
  max-height: 180px;
}

.pokemon-types {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
  color: rgb(54, 54, 54);
}

.pokemon-types button {
  background-color: #633dad;
  border: none;
  width: 50px;
  color: white;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.pokemon-types button:hover,
.pokemon-types button:active,
.pokemon-types button:visited {
  border: none;
  outline: none;
}

/* POKEMON NAME COLORS BY TYPES */
:root {
  --grass: #78c850;
  --fire: #f08030;
  --flying: #a890f0;
  --water: #6890f0;
  --bug: #a8b820;
  --poison: #a040a0;
  --normal: #a8a878;
  --electric: #f8d030;
  --ground: #e0c068;
  --fairy: #ee99ac;
  --fighting: #c03028;
  --psychic: #f85888;
  --rock: #b8a038;
  --steel: #b8b8d0;
  --ice: #98d8d8;
  --ghost: #705898;
  --dragon: #7038f8;
  --dark: #705848;
}
.Grass {
  background-color: var(--grass);
}

.Fire {
  background-color: var(--fire);
}

.Flying {
  background-color: var(--flying);
}

.Water {
  background-color: var(--water);
}

.Bug {
  background-color: var(--bug);
}

.Poison {
  background-color: var(--poison);
}

.Normal {
  background-color: var(--normal);
}

.Electric {
  background-color: var(--electric);
}

.Ground {
  background-color: var(--ground);
}

.Fairy {
  background-color: var(--fairy);
}

.Fighting {
  background-color: var(--fighting);
}

.Psychic {
  background-color: var(--psychic);
}

.Rock {
  background-color: var(--rock);
}

.Steel {
  background-color: var(--steel);
}

.Ice {
  background-color: var(--ice);
}

.Ghost {
  background-color: var(--ghost);
}

.Dragon {
  background-color: var(--dragon);
}

.Dark {
  background-color: var(--dark);
}

/* DUAL GRASS TYPES */
.GrassPoison {
  background: linear-gradient(155deg, var(--grass) 45%, var(--poison) 55%);
}
.GrassPsychic {
  background: linear-gradient(155deg, var(--grass) 45%, var(--psychic) 55%);
}

/* DUAL FYRE TYPES */
.FireFlying {
  background: linear-gradient(155deg, var(--fire) 45%, var(--flying) 55%);
}
.FireFlying {
  background: linear-gradient(155deg, var(--fire) 45%, var(--flying) 55%);
}

/* DUAL BUG TYPES */
.BugFlying {
  background: linear-gradient(155deg, var(--bug) 45%, var(--flying) 55%);
}
.BugPoison {
  background: linear-gradient(155deg, var(--bug) 45%, var(--poison) 55%);
}
.BugGrass {
  background: linear-gradient(155deg, var(--bug) 45%, var(--grass) 55%);
}

/* DUAL NORMAL TYPES */
.NormalFlying {
  background: linear-gradient(155deg, var(--normal) 45%, var(--flying) 55%);
}
.NormalFairy {
  background: linear-gradient(155deg, var(--normal) 45%, var(--fairy) 55%);
}

/* DUAL POISON TYPES */
.PoisonGround {
  background: linear-gradient(155deg, var(--poison) 45%, var(--ground) 55%);
}
.PoisonFlying {
  background: linear-gradient(155deg, var(--poison) 45%, var(--flying) 55%);
}

/* DUAL WATER TYPES */
.WaterFighting {
  background: linear-gradient(155deg, var(--water) 45%, var(--fighting) 55%);
}
.WaterPoison {
  background: linear-gradient(155deg, var(--water) 45%, var(--poison) 55%);
}
.WaterPsychic {
  background: linear-gradient(155deg, var(--water) 45%, var(--psychic) 55%);
}
.WaterIce {
  background: linear-gradient(155deg, var(--water) 45%, var(--ice) 55%);
}
.WaterFlying {
  background: linear-gradient(155deg, var(--water) 45%, var(--flying) 55%);
}

/* DUAL ROCK TYPES */
.RockWater {
  background: linear-gradient(155deg, var(--rock) 45%, var(--water) 55%);
}
.RockFlying {
  background: linear-gradient(155deg, var(--rock) 45%, var(--flying) 55%);
}
.RockGround {
  background: linear-gradient(155deg, var(--rock) 45%, var(--ground) 55%);
}

/* DUAL GROUND TYPES */
.GroundRock {
  background: linear-gradient(155deg, var(--ground) 45%, var(--rock) 55%);
}

/* DUAL ELECTRIC TYPES */
.ElectricSteel {
  background: linear-gradient(155deg, var(--electric) 45%, var(--steel) 55%);
}
.ElectricFlying {
  background: linear-gradient(155deg, var(--electric) 45%, var(--flying) 55%);
}

/* DUAL GHOST TYPES */
.GhostPoison {
  background: linear-gradient(155deg, var(--ghost) 45%, var(--poison) 55%);
}

/* DUAL PSYCHIC TYPES */
.PsychicFairy {
  background: linear-gradient(155deg, var(--psychic) 45%, var(--fairy) 55%);
}

/* DUAL ICE TYPES */
.IcePsychic {
  background: linear-gradient(155deg, var(--ice) 45%, var(--psychic) 55%);
}
.IceFlying {
  background: linear-gradient(155deg, var(--ice) 45%, var(--flying) 55%);
}

/* DUAL DRAGON TYPES */
.DragonFlying {
  background: linear-gradient(155deg, var(--dragon) 45%, var(--flying) 55%);
}
